.sidebar-layout {
  width: 20%;
  height: 90vh;
  float: left;
  border: 2px groove red;
  border-radius: 25px;
  background-color: rgba(0,0,240,0.2);
  padding: 20px; 
  z-index: 1;
}

.sidebar {
  width: auto;
  height: 100%;
  overflow: scroll;
  
  .panel {
    padding: 10px;
    border: 2px groove blue;
    background-color: rgba(0,0,0,0);

    .divider {
      height: 25px;
    }

    .filter-add-more-rule {
    }

    &-border {
      border: 1px solid rgba(0, 0, 0, .2);

    }
  }
}

.range-slider {

  &-field {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.filter {
  &-connector {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

  }
}
